
@font-face {
  font-family: 'Open Sans';
  src: url(https://fonts.google.com/specimen/Open+Sans);
  font-weight: 400;
}
$bright-blue: hsl(224, 93%, 58%);
$dark-blue:hsl(243, 87%, 12%);
$desaturated-blue:hsl(238, 22%, 44%);
$moderate-cyan:hsl(170, 45%, 43%);
$ligth-gray:hsl(240, 75%, 98%);
$lighter-gray:hsl(0, 0%, 75%);

@media screen and (max-width: 700px) {
  nav{
    margin-left: 30px;
  }
  .header{
    flex-direction: column-reverse;
    margin: 0 30px;
    div{
      margin-top: 20px;
    }
  }
  .body{
    flex-direction: column-reverse;
    margin: 0 30px;
    div{
      margin-top: 20px;
    }
  }
  .signup{
    flex-direction: column;
    margin: 0 30px;
    div{
      margin-top: 20px;
    }
    .form{
      .email{
        max-width: 80%;
      }
    }
  }
  .footer{
    margin:0 30px;
    div{
      margin-top: 20px;
    }
    .info{
      flex-direction: column;
    }
  }
}
body{
  margin: 0px;
}

.container {
  max-width: 1440px;
  margin: 0px auto;
}
nav {
  font-family: 'Raleway';
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
  }
  a{
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: black;
  }
}
.header {
  display:flex;
  align-items: center;
  padding: 100px 0;
  h3{
    font-family: 'Open Sans';
    font-weight: lighter;
  }
  h1{
    font-family: 'Sofia';
    
  }

  .form{
    .submit{
      width: 25%;
      color: white;
      background-color: $bright-blue;
      border-radius: 4px;
      height: 40px;
      border: 0px;
      margin-left: 6px;
    }
    .email{ 
      width: 57%;
      padding: 0px 5px;
      
      border-radius: 4px;
      height: 36px;
    }
  }
  img {
    max-width: 100%;
    height: auto;
  }
  
}
.border{
  width: 100%;
  height: 100%;
}
.body{
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
  a{
    color: $moderate-cyan;
  }
  .box{
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
    width: 360px;
    height: 210px;
    padding: 30px 30px 0 30px;
    .user__info{
      display: flex;
      div{
        display: inline-block;
        margin-right: 10px;
      }
      .user__info__photo{
        border-radius: 50%;
        width: 33px;
        height: 33px;
      }
      .user__info__work{
        font-weight: lighter;
      }
    }
  }
  img {
    max-width: 100%;
    height: auto;
  }
  h3{
    font-family: 'Open Sans';
    font-weight: lighter;
  }
  h1{
    font-family: 'Sofia';
    
  }
  h5{
    display: inline;
  }
}
.signup{
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 100px 0;
  .form{
    width: 100%;
    .submit{
      color: white;
      background-color: $bright-blue;
      border-radius: 4px;
      height: 40px;
      border: 0px;
      margin-top: 15px;
    }
    .email{ 
      margin-top: 5px;
      border-radius: 4px;
      height: 36px;
      width: 477px;
      padding-left: 5px;
    }
  }
  h3{
    font-family: 'Open Sans';
    font-weight: lighter;
  }
  h1{
    font-family: 'Sofia';
    
  }
}
.footer{
  padding: 100px 0;
  .info{
    padding: 15px 0;
    display: flex;
    div{
      flex-direction: column;
      margin-right: 300px;
      a{
        color: white;
        text-decoration: none;
        display: block;
      }
      h5{
        color: white;
        display: inline;
      }
    }
  }
}
